
.appBar {
    background-color: #fff;
    position: relative;
    z-index: 200;
}


.headerTop {
    padding-top: 10px;
    box-sizing: inherit;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.headerTopLogo {
    margin-top: 10px;
    max-width: 25%;
    margin-bottom: -48px;
} 

.headerLogoText {
    font-family: "Proxima Nova";
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    color: #000;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: all ease .5s; 
}
.headerTopMenu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.headerPhone {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #9797a6;
    font-weight: 300;
    font-size: 14px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.btn_langSelect {
    text-decoration: none;
    margin: 0 8px;
}

.btn_langSelect :global .css-1e6y48t-MuiButtonBase-root-MuiButton-root :hover {
    background-color: inherit;
}

.headerTopLine{
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.headerSecond{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: -7px;
}

.menuCatalog {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    z-index: 800;
    background-color: #fff;
    min-height: 2px;
    overflow: hidden;
    transform-origin: top;
    gap: 0;
}

.menuCatalog_list {
    background-color: rgba(0, 0, 0, 0.98);
    color: white;
    padding: 25px;
}

.menuCatalogItem {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
}

.cartWrapper {
    width: auto;
}

.cartBtnToggle {
    padding: 0;
    border: 2px solid #fef9f9;
    background-color: transparent;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icoCart {
    width: 20px;
}

.userAvatar {
    color: rgba(0,0,0,.15);
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
}



@media screen and (min-width: 600px) {
    .menuCatalog {
        left: 24px;
        width: calc(100% - 50px);
    }
}

@media screen and (min-width: 1200px) {
    .menuCatalog {
        left: 105px;
        max-width: 1154px;
    }
}